// Colors
$dark-grey: #000009; // REGISTRATION BLACK
$grey: #464F51; // OUTER SPACE
$blue: #0FF4C6; // BRIGHT TURQUOISE
$dark-blue: #D68FD6; // LIGHT MEDIUM ORCHID
$off-white: #DEFFF2; //LIGHT CYAN
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
